/* body, 타이포그래피 등 기본 스타일 설정 */
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("//cdn.jsdelivr.net/gh/velopert/font-d2coding@1.2.1/d2coding.css");

body {
    margin: 0;
    box-sizing: border-box; // 테두리를 기준으로 크기를 정함
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased; // 글꼴을 좀더 부드럽게 설정(only for Mac OS)
    -moz-osx-font-smoothing: grayscale; // 글꼴을 부드럽게 설정(only for Mac OS)
}

// box-sizing 일괄 설정
* {
    box-sizing: inherit;
}

// 링크 스타일 밑줄 및 색상 무효화
a {
    text-decoration: inherit;
    color: inherit;
}